pkgbase = pmwrap
	pkgdesc = Password Manager Wrapper
	pkgver = 0.2.3
	pkgrel = 1
	url = https://github.com/vitorqb/pmwrap
	arch = any
	license = GPL
	makedepends = go
	optdepends = dmenu
	source = pmwrap-0.2.3.tar.gz::https://github.com/vitorqb/pmwrap/archive/refs/tags/0.2.3.tar.gz
	md5sums = 11fbbe8277dc20c26425aea5c9f9d0cc

pkgname = pmwrap
